/* The grid: Three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 50px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.columnTitle{
  color: rgb(58, 55, 57);
  text-align: start;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
